
<link rel="stylesheet" href="../../assets/bootstrap.css">

<div class="jumbotron text-center">
  <!-- <h1>MEAN AUTHENTICATION APP</h1> -->
  <h1>Welcome to angular-src!</h1>
  <p class="lead">Welcome to our custom MEAN AUTHENTICATION application built from scratch.</p>
  <div>
    <a class="btn btn-primary" [routerLink] = "['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>something about Express.</p>
  </div>
  <div class="col-md-4">
      <h3>Angular_CLI</h3>
      <p>something about Angular.</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Tokens.</h3>
        <p>Full featured AUTHENTICATION using JSON web tokens. Login and store user data.</p>
      </div>    
</div>